@model SonsuzBlog.ViewModel.PostVm
@using SonsuzBlog.Helper
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section seokomek{
    <title>@Model.postsingle.Baslig</title>
    <meta name="twitter:title" content="@Model.postsingle.Baslig" />
    <meta name="title" content="@Model.postsingle.Baslig" />
    <meta name="twitter:image" content="http://sonsuzbilgi.az/@Model.postsingle.tbl_sekil.Boyuk.Replace("//","")" />
    <meta name="description" content="@Model.postsingle.Ozet"/>
    <meta name="twitter:description" content="@Model.postsingle.Ozet"/>
    <meta property="og:site_name" content="sonsuzbilgi" />
    <meta property="og:url" content="SONSUZBILGI.AZ" />
    <meta property="og:image" content="http://sonsuzbilgi.az/@Model.postsingle.tbl_sekil.Boyuk.Replace("//","")" />
    <meta property="og:description" content="@Model.postsingle.Ozet" />
    }
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5eab10bf7525e90012616b82&product=inline-share-buttons&cms=website' async='async'></script>
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5eab10bf7525e90012616b82&product=sticky-share-buttons&cms=website' async='async'></script>
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5eab10bf7525e90012616b82&product=inline-reaction-buttons&cms=website' async='async'></script>
@helper VaxtYaz(DateTime tarix)
{
    TimeSpan zaman = DateTime.Now - tarix;
    if (zaman.TotalMinutes < 1)
    {
        <span class="text-muted">İndi</span>
    }
    else if (zaman.TotalHours < 1)
    {
        <span class="text-muted">@zaman.Minutes Dəqiqə əvvəl</span>
    }
    else if (zaman.TotalDays < 1)
    {
        <span class="text-muted">@zaman.Hours Saat əvvəl</span>
    }
    else
    {
        <span class="text-muted">@tarix.ToString("dd.MM.yyyy") Tarixində</span>
    }

}

<script>
    setTimeout(function () { bax(@Model.postsingle.PostId); }, 1000);
</script>

<style>
    h1, h2, h3, h4, h5 {
        font-family: 'Roboto', sans-serif;
    }
</style>

<!--********************* SITE CONTENT *********************-->
<!--********************************************************-->
<div class="site-content">
    <div class="sharethis-inline-share-buttons"></div>
    <div class="single-post-thumbnail-area single-post-one">
        <div class="post-thumb bg-image bg-overlay" style="background-image:url(@Model.postsingle.tbl_sekil.Boyuk);"></div>

        <div class="post-header single-post-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="content-entry-wrap">
                            <div class="featured-badge-list">
                                @if (Model.postsingle.Baxis > 200)
                                {
                                    <a class="trending" href="#">
                                        <span class="fab fa-gripfire"></span>
                                    </a>
                                }
                                else if (Model.postsingle.Tarixi == DateTime.Now)
                                {
                                    <a class="featured" href="#">
                                        <span class="fa fa-bolt"></span>
                                    </a>
                                }
                            </div><!--./ featured-badge-list -->
                            <h1 class="entry-title">@Model.postsingle.Baslig</h1><!--./ entry-title -->
                            <div class="entry-meta-content">
                                <div class="entry-meta-author">
                                    <div class="entry-author-thumb">
                                        @*<img class="avatar photo" src="@Model.tbl_users.tbl_sekil.Boyuk" alt="@Model.tbl_users.Ad">*@
                                    </div>
                                    <div class="entry-author-name">
                                        <a href="/Muellif/@SeoHelper.ToSeoUrl(Model.postsingle.tbl_users.Ad).ToLower()-@Model.postsingle.MuellifId">@Model.postsingle.tbl_users.Ad</a>
                                    </div>
                                </div><!--./ entry-meta-author -->
                                <div class="entry-date">
                                    <a href="/Post/TarixeGoreList/?il=@Model.postsingle.Tarixi.Value.Year&ay=@Model.postsingle.Tarixi.Value.Month"><span>@Model.postsingle.Tarixi.Value.ToString("MMMM yyyy")</span></a>
                                </div><!--./ entry-date -->
                                <div class="entry-views">
                                    <span>@Model.postsingle.Baxis Baxış</span>
                                </div><!--./ entry-date -->
                                <div class="entry-category">
                                    <a class="cat" href="/Category/@SeoHelper.ToSeoUrl(Model.postsingle.tbl_category.Ad).ToLower()-@Model.postsingle.CategoryId">@Model.postsingle.tbl_category.Ad</a>
                                </div><!--./ entry-category -->
                                <div class="entry-comment">
                                    <a href="/Post/@SeoHelper.ToSeoUrl(Model.postsingle.Baslig).ToLower()-@Model.postsingle.PostId#disqus_thread"> </a>
                                </div>
                                <div class="entry-comment">
                                    <span>@Model.postsingle.Beyenme Bəyənmə</span>
                                </div>
                                <!--./ entry-comment -->
                            </div><!--./ entry-meta-content -->
                        </div><!--./ content-entry-wrap -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--~~~~~ Start Main Wrapper ~~~~~-->
    <div class="main-wrapper ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <!--~~~~~ Start Site Main ~~~~~-->
                    <main class="site-main">
                        <div class="post single-post single-post-one">
                            <div class="post-share-area">
                                <div class="share">
                                    <a class="facebook" href="https://www.facebook.com/sonsuzbilgi.az">
                                        <span class="fa fa-facebook"></span>
                                        <span class="text">PAYLAŞ</span>
                                    </a>
                                    <a class="twitter" href="https://www.instagram.com/sonsuzbilgi.az/">
                                        <span class="fa fa-twitter"></span>
                                        <span class="text">PAYLAŞ</span>
                                    </a>
                                    <a class="google" href="https://www.instagram.com/sonsuzbilgi.az/">
                                        <span class="fa fa-google-plus"></span>
                                        <span class="text">PAYLAŞ</span>
                                    </a>
                                </div>
                            </div>
                            <style>
                                .image {
                                    text-align: center;
                                    width:100%;
                                    height:100%;
                                }
                            </style>
                            <div class="entry-content ortalama">
                                <p>
                                    @Html.Raw(Model.postsingle.Context)
                                </p>
                            </div><!--entry content-->
                            <div class="sharethis-inline-reaction-buttons"></div>
                            <div class="entry-footer mt-60">
                                <div class="entry-tag">
                                    @if (Model.postsingle.tbl_etiket != null)
                                    {
                                        foreach (SonsuzBlog.Models.tbl_etiket etk in Model.postsingle.tbl_etiket)
                                        {
                                            <a href="/Etiket/@SeoHelper.ToSeoUrl(etk.Ad).ToLower()-@etk.EtiketId" title="@etk.Ad" rel="tag">@etk.Ad</a>
                                        }
                                    }
                                </div><!--/.entry-tag-->
                            </div><!--/.entry-footer-->
                        </div>
                        <!--~~~~~ Start Author Info ~~~~~-->
                        <div class="author-info mb-80">
                            <div id="author-img">
                                <img style="object-fit:cover; background-position:center center; background-size:cover; width:80px;  " src="~/PublicFront/sonsuzuser.png" alt="@Model.postsingle.tbl_users.Ad">

                            </div><!-- / author-img -->
                            <div id="author-details">
                                <h3 class="author-name"> <a href="/Muellif/@Model.postsingle.MuellifId">@Model.postsingle.tbl_users.Ad</a></h3>
                                <div class="authors-bio">
                                    <p>@Model.postsingle.tbl_users.Haqqinda</p>
                                </div>
                            </div><!-- /author-details -->
                        </div><!--~./ end author info ~-->
                        <!--~~~~~ Start Related Category Post ~~~~~-->
                        <div class="related-category-post">
                            <h3 style="text-transform:uppercase; letter-spacing:2px;" class="headline">Oxşar məqalələr</h3>
                            <div class="row">
                                <!--~~~~~ Start Post ~~~~~-->
                                @{
                                    Html.RenderAction("RelatedPost", "Post", new { id = Model.postsingle.CategoryId });
                                }
                                <!--~./ end post ~-->
                            </div>
                        </div><!--~./ end related category post ~-->
                        <!--~~~~~ Start Add Banner ~~~~~-->
                        <div class="add-banner bg-gray ptb-20">
                            <div class="add-content text-center">
                                <iframe class="pt-5" src="//cdn.bannersnack.com/banners/bc9lo5lit/embed/index.html?userId=41736170&t=1593519853" width="100%" height="100%" scrolling="no" frameborder="0" allowtransparency="true" allow="autoplay" allowfullscreen="true"></iframe>
                            </div>
                        </div><!--~./ end add banner ~-->
                        <!--~~~~~ Start Related Post ~~~~~-->
                        <div class="related-post pt-80 mb-30">
                            <h3 class="headline">Sizin üçün seçdiklərimiz</h3>
                            <div class="row">
                                <!--~~~~~ Start Post ~~~~~-->
                                @{
                                    Html.RenderAction("RelatedTag", "Post", new { id = Model.postsingle.PostId });
                                }
                                <!--~./ end post ~-->
                            </div> <!-- /.row -->
                        </div> <!--~./ end related post ~-->
                        <!--~~~~~ Start Comments Area ~~~~~-->
                        <div class="comments-area" id="comments">
                            <div id="disqus_thread"></div>
                            <script>
                                (function () { // DON'T EDIT BELOW THIS LINE
                                    var d = document, s = d.createElement('script');
                                    s.src = 'https://sonsuzbilgi-az.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            <!-- #respond -->
                        </div> <!--~./ end comments area ~-->
                    </main>
                    <!--~./ end site main ~-->
                </div>
                <!--~~~~~ Start sidebar ~~~~~-->
                @{
                    Html.RenderAction("AllWidgets", "Home");
                }
            </div>
        </div>
    </div><!--~./ end main wrapper ~-->
</div>
<!--~./ end site content ~-->
